__pycache__/
*.pyc
Projects.session.sql
# Virtual Environments
venv/
.venv/

# Patches
*.patch 

# Logs
*.log

*.log.1
*.log.2
*.log.3
*.log.4
*.log.5



# Environment Variables
.env

# Migrations
migrations/

# Pytest
.cache/
.coverage

# IDE/Editor
.vscode/
.idea/

# OS-Specific
.DS_Store
Thumbs.db

# db.sqlite3
instance/
node_modules

# Project documentation
docs/session_notes/*.md
project_documentation/
scripts_for_documentation/
scripts_for_testing/
tests/


# export
export/

# .gitignore
.gitignore

out/
```


